
html{
    scroll-behavior: smooth;
}



.cover-heading{
    color: black;
    text-align: center;

}
.lead{
    color:black;
    font-family:  sans-serif;
    text-align: center;
}

.box{
    display:flex;
    align-items: center;
    text-align: center;
}

.section1{
    margin:5px 30px;
    

}
.section2{
    margin:5px 30px;
}
.section3{
    margin:5px 30px;
}
.section1 img{
    border-radius: 300%;
    width:200px;
    margin-left: 40px;
    margin-right: 11    0px;
    
    
}
.section2 img{
    border-radius: 300%;
    width:200px;
    margin-left: 100px;
    margin-right: 130px;
    
    
}
.section3 img{
    border-radius: 300%;
    width:200px;
    margin-left: 8px;
    margin-right: 90px;
    
    
}
.section1 h3{
    margin-right: 80px;
    margin-left: 94px;
}
.section2 h3{
  
    margin-left: 55px;
    margin-right: 100PX;
}
.section3 h3{
    margin-right: 110px;
    margin-left: 4px;
}

.btn-outline-secondary{
    margin-right: 80px;
    margin-left: 50px;

}
.btn-outline-secondary{
    margin-right: 80px;

}

.bt1{
    padding:3px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.bt2{
    border-radius: 10px;
}
.bt3{
    border-radius: 10px;
    margin-left: 0px;
    
    margin-right: 90px;
}
.bt4{
     border-radius: 10px;
margin-right: 110px;
margin-left: 0px;
}
.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding:30px 40px;

}
.contact h2{
    font-size: 25px;
    font-family: sans-serif,Bold;
    margin-left: 22em;
    margin-right: 4px;
    display: flex;
}
.btndark  {
    text-align: center;
    border:5px solid gainsboro;
    padding:5px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    margin-right: 7em;
    
    
}
.contact{
    background-color: gainsboro;
    height: 60vh;
    text-align: center;
    
    
}

.inputs{
    text-align: center;
    border:4px solid gainsboro;
    border-radius: 60px;
    padding:3px 20px;
    margin: 30px;
   
    margin-left: 15em;
    display: flex;
}
#name{
    margin:3px 5px;
    padding:5px 30px;
    border:3px solid gainsboro;
    border-radius: 50px;
    max-width: 1000px;

}
#phone{
    
    margin:3px 5px;
    padding:5px 30px;
    border:3px solid gainsboro;
    border-radius: 50px;
    

}
#mail{
    margin:3px 5px;
    padding:5px 30px;
    border:3px solid gainsboro;
    border-radius: 50px;



}
.btn-lg{
    margin-right: 100px;
}
